
body {
  background-color: #e6e6e6;
  margin: 0px;
  font-family: "helvetica";
}
h1 {
  font-size: 65px;
  font-weight: normal;
}
.sidebar {
  width: 25%;
  float:left;
  margin-top: 40px;
  background-color: #90BB90;
  color: white;
  padding-bottom: 100%;
  padding-top: 30px;
  padding-left: 25px;
  line-height: 110%;
}
.sidebar h4 {
  color: #f4deb5;
  font-size: 20px;
  font-weight: normal;
}
.sidebar h2 {
  color: black;
  font-size: 30px;
}
.sidebar p {
  font-size: 17px;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #f4deb5;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
a {
  text-decoration: none;
}
a :active {
  color:none;
}
.rules {
  margin-left: 30%;
  font-weight: lighter;
  margin-top: 6em;
  line-height: 110%
}
.rules h2 {
  font-size: 30px;
}
.rules h4 {
  font-size: 20px;
}
label {
font-weight: bold;
}
.heighttext {
  height: 20px;
}
.button {
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  border: none;
}
.list{
  line-height: 150%;
}
